 <div class="form-group" id='goodsThumb'>
                            <label class="col-sm-1 control-label">缩略图：</label>
                            <div class="col-sm-9" style="border:1px solid #875A67;margin-left:7px">
                                <input type="file" style="float:left;margin-top:10px" class="goodsThumb">
                                <input type="file" style="float:left;margin-top:10px"  class="goodsThumb">
                                <input type="file" style="float:left;margin-top:10px"  class="goodsThumb">
                                <input type="file" style="float:left;margin-top:10px" class="goodsThumb"> 
                                <input type="file" style="float:left;margin-top:10px"  class="goodsThumb">
                            </div>
                        </div>
<div class="form-group" id="datailPic">
    <label class="col-sm-1 control-label">详情图片：</label>
    <div class="col-sm-9" style="border:1px solid #875A67;margin-left:7px">
        <input type="file" style="float:left;margin-top:10px" class="goodsDetail">
        <input type="file" style="float:left;margin-top:10px" class="goodsDetail">
        <input type="file" style="float:left;margin-top:10px" class="goodsDetail">
        <input type="file" style="float:left;margin-top:10px" class="goodsDetail">
        <input type="file" style="float:left;margin-top:10px" class="goodsDetail">
    </div>
</div>





 // 获取上传的文件
        // var formData = new FormData();
        // $('.goodsThumb').each(function(i){
        //     if($(this)[0].files[0]){
        //         formData.append("thumb[]",$(this)[0].files[0]);
        //     }
        // });
        // $('.goodsDetail').each(function(i){
        //     if($(this)[0].files[0]){
        //         // formData.append("detail[]",$(this)[0].files[0]);
        //         alert();
        //     }
        // });